*,
*::after,
*::before {
    box-sizing: border-box;
}

:root {
    font-size: 15px;
}


body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: sofia-pro, sans-serif;
}

a {
    text-decoration: none;
    color: var(--color-link);
    outline: none;
}

a:hover,
a:focus {
    color: var(--color-link-hover);
    outline: none;
}

.menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 5vh 0 20vh; /* Ajustar el padding para que no sobresalga */
    --marquee-width: 100vw;
    --offset: 20vw;
    --move-initial: calc(-25% + var(--offset));
    --move-final: calc(-50% + var(--offset));
    --item-font-size: 10vw;
    counter-reset: menu;
}

.menu__item {
    cursor: default;
    position: relative;
    padding: 0 5vw;
}

.menu__item-link {
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: transparent; /* Hacer el texto transparente */
    -webkit-text-fill-color: transparent; /* Hacer el texto transparente */
    text-fill-color: transparent; /* Hacer el texto transparente */
    -webkit-text-stroke: 1.5px #fff; /* Añadir un borde blanco */
    text-stroke: 1.5px #fff; /* Añadir un borde blanco */
    text-shadow: 
        -1px -1px 0 #00000000,  
         1px -1px 0 #00000000,
         -1px 1px 0 #00000000,
          1px 1px 0 #00000000; /* Agregar sombra para simular borde blanco */
    transition: opacity 0.4s;
}

.menu__item-link::before {
    all: initial;
    font-family: sofia-pro, sans-serif;
    counter-increment: menu;
    content: counter(menu);
    position: absolute;
    bottom: 60%;
    left: 0;
    pointer-events: none;
}

.menu__item-link:hover {
    transition-duration: 0.1s;
    opacity: 0;
}

.menu__item-img {
    pointer-events: none;
    position: absolute;
    height: 40vh;
    max-height: 400px;
    opacity: 0;
    left: 100%;
    top: 50%;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
    opacity: 1;
    transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
    transition: all 0.4s;
}

.marquee {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--marquee-width);
    overflow: hidden;
    pointer-events: none;
    mix-blend-mode: color-burn;
    color: white;
}

.marquee__inner {
    color: white;
    width: fit-content;
    display: flex;
    position: relative;
    transform: translate3d(var(--move-initial), 0, 0);
    animation: marquee 5s linear infinite;
    animation-play-state: paused;
    opacity: 0;
    transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
    animation-play-state: running;
    opacity: 1;
    transition-duration: 0.4s;
}

.marquee span {
    color: white;
}

.menu__item-link,
.marquee span {
    white-space: nowrap;
    font-size: var(--item-font-size);
    padding: 0 1vw;
    font-weight: 900;
    line-height: 1.15;
    color: white;
}

.marquee span {
    font-style: italic;
}

@keyframes marquee {
    0% {
        transform: translate3d(var(--move-initial), 0, 0);
    }

    100% {
        transform: translate3d(var(--move-final), 0, 0);
    }
}

.popover {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    
    overflow-y: auto;
    background-image: url('../images/fondoMenu2.png'); 
    background-size: cover; 
    background-position: center; 
}

.popover:target {
    display: flex;
}

.popover .content {
    display: flex;
    align-items: flex-start;
    width: 90%;
    height: 5%;
    color: #fff;
    animation: grow 0.3s ease forwards;
    flex-direction: column;
    justify-content: center;
    padding-top: 22%;
}


.popover .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@keyframes grow {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media screen and (max-width: 600px) {
    .popover .content {
        width: 90%;
        height: 90%;
    }
}



@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }

  :root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: rgba(168, 239, 255, 1);
	--c2: rgba(168, 239, 255, 0.1);
}

.h1 {
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.35rem solid;
	padding: 3vw;
	border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}

}

h1 {
    --border-width: 0.1em;
    --animation-speed: 0.5s;
    --color: #ffffff;
    color: var(--color);
    position: relative;
    display: inline-block;
    font-size: 2em;
    line-height: 1em;
    transform: scale(1, 0.8);
    border: var(--border-width) solid transparent;
    
    a {
      position: relative;
      display: inline-block;
      width: 100%;
      font-family: 'Six Caps', sans-serif;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      cursor: pointer;
      padding: 0.2em;
      background: rgba(50, 50, 50, 0.5);
      background: #333;
      z-index: 1;
      border: solid var(--border-width) transparent;
    }
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      background: var(--color);
    }
    
    &:focus:before,
    &:hover:before {
      animation: beforeBorders var(--animation-speed) forwards ease-in-out;
    }
  
    &:focus:after,
    &:hover:after {
      animation: afterBorders var(--animation-speed) forwards ease-in-out;
    }
    
    &:focus,
    &:hover {
      animation: borderColors var(--animation-speed) steps(1) forwards;
      outline: none;
  
      .border-animation__inner {
        animation: background calc(var(--animation-speed) / 5 * 3) forwards ease-in-out;
        animation-delay: calc(var(--animation-speed) / 5 * 2);
      }
    }
  }
  
  @keyframes beforeBorders {
    0% {
      top: calc(var(--border-width) * -1);
      left: 50%;
      bottom: auto;
      right: auto;
      width: 0;
      height: var(--border-width);
    }
    33% {    
      top: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      bottom: auto;
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
    }
    66% {
      top: calc(var(--border-width) * -1);
      left: calc(var(--border-width) * -1);
      bottom: auto;
      right: auto;
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
      top: auto;
      left: calc(var(--border-width) * -1);
      bottom: calc(var(--border-width) * -1);
      right: auto;
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
    }
  }
  
  @keyframes afterBorders {
    0% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: 50%;
      width: 0;
      height: var(--border-width);
    }
    33% {    
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: var(--border-width);
    }
    66% {
      top: calc(var(--border-width) * -1);
      left: auto;
      bottom: auto;
      right: calc(var(--border-width) * -1);
      width: var(--border-width);
      height: calc((var(--border-width) * 2) + 100%);
    }
    100% {
      top: auto;
      left: auto;
      bottom: calc(var(--border-width) * -1);
      right: calc(var(--border-width) * -1);
      width: calc(var(--border-width) + 50%);
      height: calc((var(--border-width) * 2) + 100%);
    }
  }
  
  @keyframes borderColors {
    0% {
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    33% {
      border-top-color: var(--color);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
  
    }
    66% {
      border-top-color: var(--color);
      border-right-color: var(--color);
      border-bottom-color: transparent;
      border-left-color: var(--color);
    }
    100% {
      border-top-color: var(--color);
      border-right-color: var(--color);
      border-bottom-color: var(--color);
      border-left-color: var(--color);
    }
  }
  
  @keyframes background {
    to {
      background: #555;
      text-shadow: 0 0.1em 0.1em #111;
    }
  }
  
  @media (min-width: 850px) {
    body {
      justify-content: center;
    }
  }
  
  @media (min-width: 1200px) {
    .border-animation {
      font-size: 6em;
      line-height: 1em;    
    }
  }

    